body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

header {
  background-color: #d60000;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

main {
  padding: 30px;
  text-align: center;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  width: 200px;
  background-color: #111;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

h3 {
  margin: 10px 0 5px;
  font-size: 16px;
  color: #fff;
}

p {
  font-size: 14px;
  color: #bbb;
}

.nota {
  margin-top: 20px;
  font-size: 14px;
  color: #ddd;
}
